<footer class="bg-light text-center py-3 mt-auto d-none d-md-block">
	<div class="container text-start">
		<p class="mb-0">Copyright &copy; <script>document.write(new Date().getFullYear().toString());</script></p>
	</div>
</footer>
